@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

@border-radius-base: 15px;
// @body-background: #E0E7FF;

@primary-color: #60A5FA;
@bg-color: #fff;
@error-color: #DC2626;
@text-color: #44403C;
@heading-color: #44403C;

// @border-color-split: #d9d9d9;
// @menu-dark-color: @primary-color;
// @menu-dark-highlight-color: #fff;
// @menu-dark-item-active-bg: #3a4983;

@menu-dark-bg: #002140;
// @menu-item-padding: 1px;
// @menu-item-color: #fff;
// @menu-highlight-color: #fff;
// @menu-item-active-bg: inherit;

// @layout-body-background: @body-background;
@layout-header-background: @bg-color;
@layout-sider-background: #002140;
// @layout-header-height: 67px;
@layout-header-padding: 0 12px;

// @descriptions-bg: @body-background;

// @modal-content-bg: @body-background;

// @page-header-padding: 0px;

// @table-header-bg: @body-background;
// @table-footer-bg: @body-background;


